﻿@model Player

<h1 class="jumbotron">Welcome to Press Your Luck!</h1>

<form asp-controller="Player" asp-action="Index" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <p>Please enter your name and the number of coins you have to get started.</p>

    <div class="form-group">
        <label>Name</label>
        <input asp-for="@Model.Name" class="form-control col-lg-4 col-md-4 col-sm-6 col-xs-12" />
    </div>

    <div class="form-group">
        <label>TotalCoins</label>
        <input value="0" asp-for="@Model.TotalCoins" class="form-control col-lg-4 col-md-4 col-sm-6 col-xs-12" />
    </div>

    <input type="submit" value="Join the Game!" class="btn btn-primary" />
</form>
