﻿@model List<Audit>


<h1>Audit Records</h1>
@*if temp data id is match to id, activate link*@
@{
    string id = TempData["id"].ToString();

    if (id == "1")
    {
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="1" class="nav-link active" aria-selected="true">All</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="2" class="nav-link" aria-selected="false">Cash In</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="3" class="nav-link" aria-selected="false">CashOut</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="4" class="nav-link" aria-selected="false">Lose</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="5" class="nav-link" aria-selected="false">Win</a>
            </li>
        </ul>
    }
    else if (id == "2")
    {
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="1" class="nav-link" aria-selected="false">All</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="2" class="nav-link active" aria-selected="true">Cash In</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="3" class="nav-link" aria-selected="false">CashOut</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="4" class="nav-link" aria-selected="false">Lose</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="5" class="nav-link" aria-selected="false">Win</a>
            </li>
        </ul>
    }
    else if (id == "3")
    {
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="1" class="nav-link" aria-selected="false">All</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="2" class="nav-link" aria-selected="false">Cash In</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="3" class="nav-link active" aria-selected="true">CashOut</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="4" class="nav-link" aria-selected="false">Lose</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="5" class="nav-link" aria-selected="false">Win</a>
            </li>
        </ul>
    }
    else if (id == "4")
    {
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="1" class="nav-link" aria-selected="false">All</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="2" class="nav-link" aria-selected="false">Cash In</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="3" class="nav-link" aria-selected="false">CashOut</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="4" class="nav-link active" aria-selected="true">Lose</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="5" class="nav-link" aria-selected="false">Win</a>
            </li>
        </ul>
    }
    else if (id == "5")
    {
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="1" class="nav-link" aria-selected="false">All</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="2" class="nav-link" aria-selected="false">Cash In</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="3" class="nav-link" aria-selected="false">CashOut</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="4" class="nav-link" aria-selected="false">Lose</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Audit" asp-action="Index" asp-route-id="5" class="nav-link active" aria-selected="true">Win</a>
            </li>
        </ul>
    }

}

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="All" role="tabpanel" aria-labelledby="All-tab">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        CreatedDate
                    </th>
                    <th>
                        PlayerName
                    </th>
                    <th>
                        AuditType
                    </th>
                    <th>
                        Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CreatedDate
                        </td>
                        <td>
                            @item.PlayerName
                        </td>
                        <td>
                            @item.AuditType.Name
                        </td>
                        <td>
                            @item.Amount
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="CashIn" role="tabpanel" aria-labelledby="CashIn-tab">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        CreatedDate
                    </th>
                    <th>
                        PlayerName
                    </th>
                    <th>
                        AuditType
                    </th>
                    <th>
                        Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CreatedDate
                        </td>
                        <td>
                            @item.PlayerName
                        </td>
                        <td>
                            @item.AuditType.Name
                        </td>
                        <td>
                            @item.Amount
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="CashOut" role="tabpanel" aria-labelledby="CashOut-tab">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        CreatedDate
                    </th>
                    <th>
                        PlayerName
                    </th>
                    <th>
                        AuditType
                    </th>
                    <th>
                        Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CreatedDate
                        </td>
                        <td>
                            @item.PlayerName
                        </td>
                        <td>
                            @item.AuditType.Name
                        </td>
                        <td>
                            @item.Amount
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="Lose" role="tabpanel" aria-labelledby="Lose-tab">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        CreatedDate
                    </th>
                    <th>
                        PlayerName
                    </th>
                    <th>
                        AuditType
                    </th>
                    <th>
                        Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CreatedDate
                        </td>
                        <td>
                            @item.PlayerName
                        </td>
                        <td>
                            @item.AuditType.Name
                        </td>
                        <td>
                            @item.Amount
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade" id="Win" role="tabpanel" aria-labelledby="Win-tab">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        CreatedDate
                    </th>
                    <th>
                        PlayerName
                    </th>
                    <th>
                        AuditType
                    </th>
                    <th>
                        Amount
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.CreatedDate
                        </td>
                        <td>
                            @item.PlayerName
                        </td>
                        <td>
                            @item.AuditType.Name
                        </td>
                        <td>
                            @item.Amount
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PlayerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuditType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlayerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AuditType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
