﻿@model GameViewModel

@*if current bet >0 display take the coins otherwise try again*@
<div>
    Current Bet:@Model.CurrentBet.ToString("c")
    @if (Model.CurrentBet > 0)
    {
        <a asp-controller="Game" asp-action="endGame" class="btn btn-success">Take the coions</a>
    }
    else
    {
        TempData["message"] = "On no! You busted out. Better luck next time!";
        <a asp-controller="Game" asp-action="newGame" class="btn btn-danger">Try again</a>
    }
</div>
 @*if tile value is 0 temp message for bust*@
<div class="row">
    @foreach (var tile in Model.TileList)
    {
        <div class="col-2">
            <div class="card">
                @if (tile.Visible == false)
                {
                    <img src="~/images/unknown.png" class="card-img-top" alt="...">
                }
                else if (tile.Value == "0.00")
                {
                    TempData["message"] = "On no! You busted out. Better luck next time!";
                    <img src="~/images/bust.png" class="card-img-top" alt="...">
                }
                else
                {
                    <img src="~/images/money.png" class="card-img-top" alt="...">
                }
                <div class="card-body">
                    @*if tile visible and temp message is not for bust, display congrats messages, and add another button to call reveal action *@
                    @if (tile.Visible)
                    {
                        if(TempData["message"]!= "On no! You busted out. Better luck next time!")
                            TempData["message"] = $"Congrats you’ve found a {tile.Value} multipler!  All remaining values have doubled.  Will you Press Your Luck?";
                        <div>@tile.Value</div>
                    }
                    
                    else
                    {
                        <a asp-controller="Game" asp-action="revealCard" asp-route-id="@tile.TileIndex" class="btn btn-primary">CHOOSE</a>

                    }

                </div>
            </div>
        </div>
    }
</div>

