﻿@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome, @Model.PlayerName!</h1>

<form asp-controller="Home" asp-action="Index" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label>How many coins would you like to wager</label>
        <input asp-for="@Model.bet" class="form-control col-lg-4 col-md-4 col-sm-6 col-xs-12" />
    </div>

    <input type="submit" value="Start Playing!" class="btn btn-primary" />
</form>
